.banner{
    background-color: #054875;
    height: 55px;
    margin-top: 25px;
    border-top: 8px solid #0274B8;
    border-bottom: 8px solid #0274B8;
    h1{
        color: white;
        font-size: 40px;
        text-transform: uppercase;
    }
}